


.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}

.published{
    margin: 20px 0 40px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.published span{
    font-weight: 700;
    font-style: normal;
}

.article *{
    margin: 20px 0;
    color: #2d2d2d;
}


/* content section gambar text dan box*/
.blog{
    width: 90vw;
    min-width: 470px;
    /* height: 100px; */
    /* display: block; */
    margin: auto;
    padding: 20px 20px;
}

.blog .box{
    padding: 1rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.1);
    border-radius: .5rem;
}

.blog .box .article p{
    padding: 1rem;
    text-align: justify;
    border-radius: .5rem;
}

.blog .box img{
    height: 30rem;
    width: 60rem;
    align-items: center;
    border-radius: 0;
    object-fit: cover;
    margin-bottom: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0,.1);
}

.blog p{
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}






